/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}

.first-child{
	background-color:black;
	color:white;
}
.last-child{
	color:red;
}

li{
	width:50%;
	padding:10px;
	background-color:gray;
	
}
.styled-list li.special{
	font-size:22px;
}

.styled-list li:nth-child(odd){
	background-color:white;
	
}
.styled-list li.third-to-last{
	background-color:pink;
}


